<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" href="../favicon.ico" type="image/x-icon" sizes="32x32" />

  <title>{{ title }}</title>
</head>

<body>
  <section class="container-fluid">
    <div class="header-hero">
      <nav class=" navbar w-auto">

        <div class="d-none d-sm-block">
          <a class="navbar-brand" href="/">
            <img src="../assets/JESM.jpg" alt="" width="30px" height="30px" /></a>
        </div>
        <div *ngFor="let i of listTextNav">
          <a class="m-1 nav-item" id="a-nav" [href]="i.link">
            <span *ngIf="!isMobile">
              {{i.text}}
            </span>
            <span *ngIf="isMobile">
              <i class="{{i.icon}}"></i>
            </span>
          </a>

        </div>
        <div>
          <a class="m-1 nav-item" id="a-nav" href="https://github.com/jesm17">
            Github
          </a>
          <a class="m-1 nav-item" id="a-nav"
            href="https://www.linkedin.com/in/juan-estiben-s%C3%A1nchez-mart%C3%ADnez-30b54a1b0">
            Linkedin
          </a>
        </div>
      </nav>

    </div>
    <div class="about about-me-container" id="profile">
      <div class="role">
        <p>Full Stack Developer</p>
      </div>
      <div class="greetings">
        <h1>
          Hola, soy Juan Sanchez.
        </h1>
      </div>

      <div
        class="col col-xs-8 col-sm-8 col-md-11 col-lg-11 col-xl-11 col-xxl-11 h-auto d-flex justify-content-between wrapper-about-me">
        <div>
          <p class="about-me">
            Soy un joven apasionado del desarrollo, con especial interés en el desarrollo back end, aunque también
            disfruto trabajando en el front end. Siempre estoy dispuesto a aprender, enfrentar nuevos desafíos y
            colaborar en equipo para crear soluciones innovadoras.
          </p>
          <!-- <a href="../assets/CV/cv.pdf" class="">Descargar CV</a> -->
        </div>
        <div *ngIf="!isMobile" class="img-profile-me-container">
          <!-- <img class="img-profile-me" src="../assets/images/profile.webp" alt=""> -->
        </div>
      </div>
    </div>
    <div class="tecnologies-container" id="tecnologies">
      <h3 class="role mw-ft">Tecnologías</h3>
      <div class="row row-cols-5 m-0 p-0">

        <div *ngFor="let i of listIconsTecnologies" class="tecnology d-flex row p-0 m-0 col">
          <i ngClass="{{i.icon}}" class="p-0 m-0"></i>
          <p class="p-0 m-0">{{i.name}}</p>
        </div>
      </div>
    </div>

    <div class="projects-container" id="project">
      <h3 class="role mw-ft">Proyectos</h3>
      <div class="row m-0 p-0 gap-projects" [ngClass]="{'row-cols-2': !isMobile, 'row-cols-1': isMobile}">
        <div class=" col" *ngFor="let i of listProjects">
          <div class="card-project d-flex mx-2" [ngClass]="{'justify-content-between': !isMobile, 'row': isMobile}">
            <div class="card-image">
              <img [src]="i.image" draggable="false">
            </div>
            <div class="card-content">
              <div class="card-title">
                <h4 class="mb-0">{{i.name}}</h4>
              </div>
              <div class="card-text">
                <p class="m-0">{{i.summary}}</p>
              </div>
              <div class="use-tectnologies d-flex" *ngIf="i.tecnologies">
                <span class="badges" *ngFor="let j of i.tecnologies">
                  <i ngClass="{{j.icon}}" class=""></i><span *ngIf="!isMobile">{{j.name}}</span>
                </span>
              </div>
              <div class="card-text">
                <a [href]="i.repolink" target="_blank"><i class="bx bxl-github"></i></a>
                <a *ngIf="i.previeLink" [href]="i.previeLink" target="_blank">
                  <i class='bx bx-right-top-arrow-circle'></i>
                </a>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </section>
</body>
<footer>
  <div class="d-flex justify-content-between align-items-center h-100">

    <span>
      © {{year}} - Juan Sanchez
    </span>

    <div>

      <a class="a-footer" href="https://github.com/jesm17">
        Github <i class='bx bx-right-arrow-alt'></i>
      </a>
      <a class="a-footer" href="https://www.linkedin.com/in/juan-estiben-s%C3%A1nchez-mart%C3%ADnez-30b54a1b0">
        Linkedin <i class='bx bx-right-arrow-alt'></i>
      </a>

    </div>
  </div>
</footer>

</html>