<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" href="../favicon.ico" type="image/x-icon" sizes="32x32" />

  <title>{{ title }}</title>
</head>

<body>
  <section class="container-fluid">
    <div class="header-hero">
      <nav class="navbar">
        <div class="d-none d-sm-flex">
          <a class="navbar-brand" href="/">
            <img src="../assets/JESM.jpg" alt="" width="30" height="30" /></a>
        </div>

        <button *ngIf="isMobile" class="nav-toggle" (click)="toggleMenu()" aria-label="Abrir menú"
          [attr.aria-expanded]="isMenuOpen">
          <i class='bx' [ngClass]="isMenuOpen ? 'bx-x' : 'bx-menu'"></i>
        </button>

        <div class="nav-menu" *ngIf="!isMobile">
          <ng-container *ngFor="let i of listTextNav">
            <a class="m-1 nav-item a-nav" [href]="i.link">
              <span *ngIf="!isMobile">
                {{ i.text }}
              </span>
              <span *ngIf="isMobile">
                <i class="{{ i.icon }}"></i>
              </span>
            </a>
          </ng-container>
        </div>

        <div class="nav-cta" *ngIf="!isMobile">
          <a class="m-1 nav-item a-nav" href="https://github.com/jesm17"> <span *ngIf="!isMobile">Github</span> <span *ngIf="isMobile"><i class="bx bxl-github"></i></span> </a>
          <a class="m-1 nav-item a-nav"
            href="https://www.linkedin.com/in/juan-estiben-s%C3%A1nchez-mart%C3%ADnez-30b54a1b0"> <span *ngIf="!isMobile">Linkedin</span> <span *ngIf="isMobile"><i class="bx bxl-linkedin"></i></span></a>
        </div>
      </nav>

      <!-- Menú móvil desplegable -->
      <div class="nav-mobile" *ngIf="isMobile && isMenuOpen">
        <div class="nav-mobile-content">
          <div class="nav-mobile-section">
            <ng-container *ngFor="let i of listTextNav">
              <a class="nav-item a-nav" [href]="i.link" (click)="closeMenu()">
                <i class="{{ i.icon }}"></i>
                <span>{{ i.text }}</span>
              </a>
            </ng-container>
          </div>
          <div class="nav-mobile-section nav-mobile-cta">
            <a class="nav-item a-nav" href="https://github.com/jesm17" (click)="closeMenu()">
              <i class='bx bxl-github'></i>
              <span>Github</span>
            </a>
            <a class="nav-item a-nav" href="https://www.linkedin.com/in/juan-estiben-s%C3%A1nchez-mart%C3%ADnez-30b54a1b0" (click)="closeMenu()">
              <i class='bx bxl-linkedin'></i>
              <span>Linkedin</span>
            </a>
          </div>
        </div>
      </div>

    </div>
    <div class="about about-me-container" id="profile">

      <div class="greetings">
        <h1>
          Hola, soy Juan Sanchez.
        </h1>
      </div>

      <div
        class="col col-xs-8 col-sm-8 col-md-11 col-lg-11 col-xl-11 col-xxl-11 h-auto d-flex justify-content-between wrapper-about-me">
        <div>
          <p class="about-me">
            Soy un joven apasionado del desarrollo, con especial interés en el desarrollo back end, aunque también
            disfruto trabajando en el front end. Siempre estoy dispuesto a aprender, enfrentar nuevos desafíos y
            colaborar en equipo para crear soluciones innovadoras.
          </p>
          <!-- <a href="../assets/CV/cv.pdf" class="">Descargar CV</a> -->
          <div class="role">
            <p class="text-xs">Full Stack Developer</p>
          </div>
        </div>
        <div *ngIf="!isMobile" class="img-profile-me-container">
          <!-- <img class="img-profile-me" src="../assets/images/profile.webp" alt=""> -->
        </div>
      </div>
      
    </div>
    <div class="tecnologies-container" id="tecnologies">
      <h3 class="role mw-ft">Tecnologías</h3>
      <div class="row row-cols-5 m-0 p-0">

        <div *ngFor="let i of listIconsTecnologies" class="tecnology d-flex row p-0 m-0 col">
          <i ngClass="{{i.icon}}" class="p-0 m-0"></i>
          <p class="p-0 m-0">{{i.name}}</p>
        </div>
      </div>
    </div>

    <div class="projects-container" id="project">
      <h3 class="role mw-ft">Proyectos</h3>
      <div class="projects-grid">
        <div class="project-item" *ngFor="let i of listProjects">
          <div class="card-project">
            <div class="card-image">
              <img [src]="i.image" [alt]="i.name" loading="lazy" draggable="false">
            </div>
            <div class="card-content m-2 mt-0">
              <div class="card-title">
                <h4 class="mb-0">{{i.name}}</h4>
              </div>
              <div class="card-text">
                <p class="m-0">{{i.summary}}</p>
              </div>
              <div class="use-tectnologies d-flex" *ngIf="i.tecnologies">
                <span class="badges" *ngFor="let j of i.tecnologies">
                  <i ngClass="{{j.icon}}" class=""></i><span *ngIf="!isMobile">{{j.name}}</span>
                </span>
              </div>
              <div class="card-actions">
                <a [href]="i.repolink" target="_blank" aria-label="Repositorio en GitHub">
                  <i class="bx bxl-github"></i>
                </a>
                <a *ngIf="i.previeLink" [href]="i.previeLink" target="_blank" aria-label="Vista previa del proyecto">
                  <i class='bx bx-right-top-arrow-circle'></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </section>
  <footer>
    <div class="d-flex justify-content-between align-items-center h-100">
      
      <span>
        © {{year}} - Juan Sanchez
      </span>
      
      <div>
        
        <a class="a-footer" href="https://github.com/jesm17">
          Github <i class='bx bx-right-arrow-alt'></i>
        </a>
        <a class="a-footer" href="https://www.linkedin.com/in/juan-estiben-s%C3%A1nchez-mart%C3%ADnez-30b54a1b0">
          Linkedin <i class='bx bx-right-arrow-alt'></i>
        </a>
        
      </div>
    </div>
  </footer>
  
  <!-- Scroll To Top Button -->
  <button class="scroll-to-top" *ngIf="showScrollTop" (click)="scrollToTop()" aria-label="Volver arriba">
    <i class='bx bx-up-arrow-alt'></i>
  </button>
  
</body>
</html>